@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight leading-tight;
  }
  
  h1 {
    @apply text-5xl md:text-7xl;
  }
  
  h2 {
    @apply text-3xl md:text-5xl;
  }
  
  h3 {
    @apply text-2xl md:text-3xl;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes shine {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 120s linear infinite;
    will-change: transform;
  }
  .animate-marquee2 {
    animation: marquee 120s linear infinite;
    animation-delay: 60s;
    will-change: transform;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 4 - 8px * 4)); /* Accounts for image width and gap */
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  width: max-content;
  display: flex;
  gap: 8px;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 120s linear infinite;
    will-change: transform;
  }
}
